extends layout

block content
  .page-header
    h1 Boundstar Player Manager
  .row
    .well.col-sm-2#connections
        h3 Right Now
        p 
          span #{players.length}
        h5 player accounts
    .clearfix
    .col-sm-12
      legend Players
      table#visits.table.table-bordered.table-striped.table-condensed
        thead
          tr
            td Character
            td Email
            td Rank
            td Forum
            td Rep
            td Posts
            td Votes
            td Worlds
            td Ip
            td Country
            td Region
            td City
            td System Coords
        tbody
          each player in players
            tr
              td #{player.profile.player}
              td #{player.email}
              td #{player.profile.rank}
              td 
                - var forum_url = 'http://forum.boundstar.com/user/'+player.profile.forum.replace(/ /g,'-').toLowerCase()
                a(href='#{forum_url}', target='_blank') #{player.profile.forum}
              td #{player.profile.forum_rep}
              td #{player.profile.forum_posts}
              td #{player.profile.thismonth_votes}
              if player.profile.system
                td #{player.profile.system.size}
              else
                td 0
              td #{player.profile.ip}
              td #{player.profile.country}
              td #{player.profile.region}
              td #{player.profile.city}
              td #{player.profile.system_coords}

